In [1]:
import pandas as pd
import csv
import pymysql
import time
from machine129 import meals

In [2]:
try:
    conn = pymysql.connect(user='root', passwd='1234', host='34.64.195.167', db='mydb129', charset='utf8')
    print('===접속 성공===')
    cursor = conn.cursor(pymysql.cursors.DictCursor) # pandas dataframe 형태로 받아오는 커서
except pymysql.DatabaseError as db_err:
    print('접속 오류 !!')
    print(db_err)

===접속 성공===

In [18]:
query = 'CREATE TABLE IF NOT EXISTS users (\
    user_id varchar(50) primary key,\
    user_pw varchar(50),\
    phone_number varchar(50)\
    )'

cur=conn.cursor()
try:
    cur.execute(query)
    conn.commit()
except:
    print('Error!')

In [11]:
%load_ext autoreload
%autoreload 2

from machine129 import meals

db = meals.meals()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [35]:
a = db.select_query('select * from Food where class_num = 18;')
b = a.loc[0]
b

class_num                    18
food_name                  계란말이
serving_size_g            250.0
calorie_kJ               1407.0
calorie_kcal              336.0
carbohydrate_g             6.53
sugar_g                    2.81
protein_g                 25.46
fat_g                      22.4
saturated_fat_g           6.181
polyunsaturated_fat_g     3.641
unsaturated_fat_g         9.217
cholesterol_mg            808.0
dietary_fiber_g             1.6
salt_mg                   772.0
potassium_mg              415.0
Name: 0, dtype: object

In [37]:
type(b['class_num'])

numpy.int64

In [22]:
db.select_query('SELECT * FROM Food order by class_num desc')

,class_num,food_name,serving_size_g,calorie_kJ,calorie_kcal,carbohydrate_g,sugar_g,protein_g,fat_g,saturated_fat_g,polyunsaturated_fat_g,unsaturated_fat_g,cholesterol_mg,dietary_fiber_g,salt_mg,potassium_mg
0,18,계란말이,250.0,1407.0,336.0,6.53,2.81,25.46,22.40,6.181,3.641,9.217,808.0,1.6,772.0,415.0
1,17,계란후라이,46.0,373.0,89.0,0.43,0.38,6.24,6.76,1.880,1.214,2.754,210.0,0.0,238.0,67.0
2,16,쌀밥,210.0,1130.0,270.0,61.00,0.00,5.00,0.70,0.000,0.000,0.000,0.0,0.0,20.0,0.0
3,15,고등어구이,200.0,1586.0,379.0,0.70,0.18,35.18,25.19,5.809,6.841,9.569,120.0,0.0,822.0,693.0
4,14,무국,200.0,503.0,120.0,13.78,4.03,2.75,6.65,0.980,2.773,2.575,0.0,3.5,1088.0,603.0
5,13,잡채,150.0,1194.0,285.0,43.23,3.03,7.59,10.16,1.437,4.626,3.475,0.0,3.4,808.0,341.0
6,12,무생채,200.0,333.0,80.0,14.34,8.06,2.30,2.28,0.364,1.007,0.745,0.0,4.5,1383.0,490.0
7,11,호박볶음,75.0,375.0,90.0,5.24,1.27,1.20,7.68,1.092,3.231,3.007,0.0,1.4,374.0,177.0
8,10,불고기,300.0,2034.0,486.0,14.77,7.17,48.38,23.86,6.068,5.905,9.603,103.0,2.6,583.0,853.0
9,9,김밥,125.0,611.0,148.0,32.03,5.54,2.72,0.29,0.081,0.086,0.086,0.0,0.5,119.0,76.0
10,8,미역국,230.0,346.0,83.0,5.59,0.62,7.87,3.73,0.975,1.099,1.240,14.0,0.5,1134.0,223.0
11,7,고사리나물,80.0,214.0,51.0,5.50,1.43,2.60,2.71,0.363,1.097,0.987,0.0,0.5,142.0,175.0
12,6,가지나물,165.0,297.0,71.0,11.02,3.39,2.97,2.95,0.451,1.301,0.920,0.0,5.8,261.0,397.0
13,5,시금치나물,100.0,286.0,68.0,7.35,0.97,3.27,3.67,0.526,1.568,1.348,0.0,2.6,593.0,403.0
14,4,멸치볶음,40.0,289.0,69.0,0.35,0.08,7.43,4.09,0.784,1.105,1.840,21.0,0.1,1022.0,147.0
15,3,김치찌개,200.0,505.0,121.0,6.47,1.77,7.51,7.57,1.903,2.129,2.935,15.0,1.4,442.0,330.0
16,2,된장찌개,200.0,717.0,171.0,16.77,3.80,15.01,5.60,1.034,2.455,1.463,21.0,3.2,682.0,613.0
17,1,배추김치,38.0,35.0,8.0,1.58,0.70,0.66,0.12,0.018,0.056,0.017,0.0,0.5,245.0,98.0
18,0,잡곡밥,200.0,1424.0,340.0,73.47,0.10,8.82,1.98,0.342,0.793,0.565,0.0,3.9,273.0,208.0

In [35]:
db.label_to_meals(id = 'testid0606@gmail.com')

yogijogi Error!

UnboundLocalError: local variable 'score' referenced before assignment

In [37]:
path="D:\Final_Project\Git_repositories\Main\static\detect\exp\labels\image1.txt"
id="testid0606@gmail.com"

with open(path, 'r') as f:
    data = f.readlines()

label_num_list = []
for a in data:
    label_num_list.append(int(a.split(' ')[0]))


# Query 만들기
# Select "요기" FROM "조기"
cur = conn.cursor()
try:
    cur.execute("Select COLUMN_NAME From INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Food' and data_type = 'float' order by ordinal_position;")
    fcolumns = cur.fetchall()
except:
    print('M129 Query Make Error')

## "요기"
columns_query = ''
for i in fcolumns:
    columns_query += 'sum(' + i[0] + '), '
columns_query = columns_query.rstrip(', ')

## "조기"
label_list = list(set(label_num_list)) # list > set > list 를 통해 중복값을 제거 해줌.
where_query = ''
for i in label_list:
    where_query += 'class_num = ' + str(i) + " or "
where_query = where_query.rstrip(' or ')

query = 'SELECT ' + columns_query + ' FROM food WHERE ' + where_query

query
# cur=conn.cursor()
# try:
#     cur.execute(query)
#     score = cur.fetchall() # score = meals 영양소
# except:
#     print('yogijogi Error!')

'SELECT sum(serving_size_g), sum(calorie_kJ), sum(calorie_kcal), sum(carbohydrate_g), sum(sugar_g), sum(protein_g), sum(fat_g), sum(saturated_fat_g), sum(polyunsaturated_fat_g), sum(unsaturated_fat_g), sum(cholesterol_mg), sum(dietary_fiber_g), sum(salt_mg), sum(potassium_mg) FROM food WHERE class_num = 16 or class_num = 6'

In [13]:
db.select_query('SELECT * FROM meals;')

Empty DataFrame
Columns: []
Index: []

In [46]:
db_meals = meals.meals()
txt_label_path = "static\detect\exp\labels\image1.txt"
id = "test0606_0952pm"
db_meals.label_to_meals(path = txt_label_path, id=id)

In [40]:
with open(txt_label_path, 'r') as f:
    data = f.readlines()
data

['6 0.196 0.254 0.258667 0.356\n', '16 0.234667 0.705333 0.250667 0.344\n']

In [56]:
with open(path, 'r') as f:
    data = f.readlines()

# Label num = class num
label_num_list = []
for a in data:
    label_num_list.append(int(a.split(' ')[0]))


# Query 만들기
# Select "요기" FROM "조기"
cur = conn.cursor()
try:
    # cur.execute("Select COLUMN_NAME From INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Food' and data_type = 'double precision' order by ordinal_position;") # postgresql
    cur.execute("Select COLUMN_NAME From INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Food' and data_type = 'float' order by ordinal_position;") # mysql
    fcolumns = cur.fetchall()
except:
    print('M129 Query Make Error')

## "요기"
label_list = list(set(label_num_list)) # list > set > list 를 통해 중복값을 제거 해줌.
columns_query = ''
for i in fcolumns:
    columns_query += 'sum(' + i[0] + '), '
columns_query = columns_query.rstrip(', ')

## "조기"
where_query = ''
for i in label_list:
    where_query += 'class_num = ' + str(i) + " or "
where_query = where_query.rstrip(' or ')

query = 'SELECT ' + columns_query + ' FROM Food WHERE ' + where_query

# 쿼리 실행
cur=conn.cursor()
try:
    cur.execute(query)
    score = cur.fetchall() # score = meals 영양소
except:
    print('yogijogi Error!')

# ID 기준 db insert
now = time.strftime('%Y-%m-%d %H:%M:%S')

valuestxt = "('" + id + "', '" + now + "'"
for i in score[0]:
    valuestxt += ", "
    valuestxt += str(i)
valuestxt += ');'

insertquery = 'INSERT INTO meals VALUES ' + valuestxt

cur=conn.cursor()
try:
    cur.execute(insertquery)
    conn.commit()
except:
    print('insertquery Error!')

In [48]:
insertquery

"INSERT INTO meals VALUES ('test0606_0952pm', '2022-06-06 22:04:41', 375.0, 1427.0, 341.0, 72.02000045776367, 3.390000104904175, 7.9700000286102295, 3.650000035762787, 0.45100000500679016, 1.3009999990463257, 0.9200000166893005, 0.0, 5.800000190734863, 281.0, 397.0);"

In [52]:
result_row = []
a = 0
for i in range(20):
    result_row.append(a)
    a += 0.05
result_row.append('id')
result_row.append(1)

columns_name = []
cur = conn.cursor()
cur.execute("Select COLUMN_NAME From INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'dis_results' and data_type = 'float' order by ordinal_position;")
fcolumns = cur.fetchall()
b = -1
for i in fcolumns:
    b += 1
    if result_row[b] > 0.5:
        columns_name.append(i[0])

# 질병 기록 기준으로 Bad food 를 찾기.
select_query = 'SELECT * FROM disease'
if len(columns_name) != 0:
    select_query += ' WHERE '
    for column in columns_name:
        select_query += f'disease_code = "{column}" or '
    select_query = select_query.rstrip(' or ')

cur = conn.cursor(pymysql.cursors.DictCursor)
cur.execute(select_query)
dis_table = cur.fetchall()
dis_df = pd.DataFrame(dis_table)

In [55]:
x = dis_df['bad_food']

In [63]:
c = []
for a in x:
    a = a.replace('\r', '')
    b = a.split('_')
    c += b
c

['0', '16', '10', '16', '17', '14', '18', '3', '11', '15']

In [17]:
# detected_foods_set = list(set(detected_foods))
detected_foods_set = ["1", "2", "3", "4"]
detected_foods_str = ""
detected_foods_nut = ""
db = meals.meals()
for detected_food_class in detected_foods_set:
    df = db.select_query(f'SELECT * FROM Food WHERE class_num = {detected_food_class};')
    print(f'SELECT * FROM Food WHERE class_num = {detected_food_class};')

    calorie = df.head(1)['calorie_kcal'][0]
    carbo = df.head(1)['carbohydrate_g'][0]
    protein = df.head(1)['protein_g'][0]
    fat = df.head(1)['fat_g'][0]
    detected_food_name = df.head(1)['food_name'][0]

    detected_foods_str += detected_food_name + ', '
    detected_foods_nut += detected_food_name + f' 칼로리:{calorie} 탄수화물:{carbo} 단백질:{protein} 지방:{fat}, '

detected_foods_str = detected_foods_str.rstrip(', ')
detected_foods_nut = detected_foods_nut.rstrip(', ')
print(detected_foods_nut)

SELECT * FROM Food WHERE class_num = 1;
SELECT * FROM Food WHERE class_num = 2;
SELECT * FROM Food WHERE class_num = 3;
SELECT * FROM Food WHERE class_num = 4;
배추김치 칼로리:8.0 탄수화물:1.58 단백질:0.66 지방:0.12, 된장찌개 칼로리:171.0 탄수화물:16.77 단백질:15.01 지방:5.6, 김치찌개 칼로리:121.0 탄수화물:6.47 단백질:7.51 지방:7.57, 멸치볶음 칼로리:69.0 탄수화물:0.35 단백질:7.43 지방:4.09